{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title%}</title>
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/base.css" %}"/>
    {% endblock stylesheets %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static "javascript/stats.js" %}"></script>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
</head>
<body onload="showStats()">{% block content %}{% endblock content%}</body>
</html>