{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/hedgehog.css" %}"/>
{% endblock stylesheets %}
{% block content %}
    <div id="container">
        <header>
            <h1><span>hedge</span>hog</h1>
        </header>
        <nav>
            <ul>
                {% for item in menu_items %}
                    <li><a href="{% url item.name %}">{{ item.display_name }}</a>
                {% endfor %}
            </ul>
        </nav>
        <article>
            {% block page_content %}{% endblock %}
        </article>
        <aside>

        </aside>
        <footer>
            <h6>Powered by Raspberry PI</h6>
        </footer>
    </div>
{% endblock content %}