{% extends "hedgehog.html" %}
{% block title %}Login{% endblock title %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/login.css" %}"/>
{% endblock stylesheets %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static "javascript/login.js" %}"></script>
{% endblock scripts %}
{% block page_content %}
    <form id="login_form" action="" method="post">
        {% csrf_token %}
        <div hidden class="error">{{ form.non_field_errors }}</div>
        <div class="credentials">
            {% for field in form %}
                <p>{{ field.label_tag }}{{ field }}
            {% endfor %}
        </div>
        <input id="login_button" type="submit" value="Login"/>
    </form>
{% endblock page_content %}