#login_form {
    position: relative;
    top: 30px;
    width: 350px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid;
}

#login_form div.error {
    line-height: 40px;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: red;
    color: white;
    font-weight: bold;
}

#login_form div.credentials {
    position: absolute;
    width: 100%;
    top: 50px;
}

#login_form label {
    position: relative;
    left: 30px;
}

#login_form input {
    position: absolute;
    right: 30px;
    width: 170px;
}

#login_form #login_button {
    height: 30px;
    width: 100px;
    bottom: 20px;
    background-color: black;
    color: white;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid white;
    border-radius: 0;
    font-size: 16px;
}
